<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <e4view
            class="org.slizaa.hierarchicalgraph.core.ui.xref.internal.XRefPart"
            icon="icons/XRef.png"
            id="org.slizaa.ui.xref.XRefPart"
            name="Cross-Referencer"
            restorable="true">
      </e4view>
      <e4view
            class="org.slizaa.hierarchicalgraph.core.ui.xref.internal.ReferencedNodesPart"
            icon="icons/ReferencedNodes.gif"
            id="org.slizaa.ui.xref.ReferencedNodesPart"
            name="Uses"
            restorable="true">
      </e4view>
	  <e4view
            class="org.slizaa.hierarchicalgraph.core.ui.xref.internal.ReferencingNodesPart"
            icon="icons/ReferencingNodes.gif"
            id="org.slizaa.ui.xref.ReferencingNodesPart"
            name="Used By"
            restorable="true">
      </e4view>
   </extension>

</plugin>
