<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <!-- -->
   <extension
         point="org.eclipse.ui.menus">
         
      <menuContribution
            allPopups="false"
            locationURI="menu:help?after=org.eclipse.equinox.p2.ui.sdk.install" >
         <command
               commandId="org.eclipse.equinox.p2.ui.discovery.commands.ShowBundleCatalog"
               label="Install Slizaa Extensions..."
               style="push">
            <parameter
                  name="org.eclipse.equinox.p2.ui.discovery.commands.DirectoryParameter"
                  value="%slizaa.extensions.url">
            </parameter>
         </command>
      </menuContribution>
      
      
      <menuContribution
			locationURI="popup:org.eclipse.ui.popup.any?after=additions">
	
			<!-- separator for project-related actions (open, close, ...) -->
			<separator name="org.bundlemaker.core.ui.project.separator" visible="true"> </separator>
			
         <command
               commandId="org.eclipse.equinox.p2.ui.discovery.commands.ShowBundleCatalog"
               label="Install Slizaa Extensions..."
               style="push">
            <parameter
                  name="org.eclipse.equinox.p2.ui.discovery.commands.DirectoryParameter"
                  value="%slizaa.extensions.url">
            </parameter>
            <visibleWhen checkEnabled="false">
            	<not>
            		<and>
                		<test forcePluginActivation="true"
         				  	  property="org.slizaa.rcp.workbench.core.isServiceRegistered"
         				  	  value="org.slizaa.scanner.core.api.graphdb.IGraphDbFactory"/>
				  	 	<test forcePluginActivation="true"
	         			  	  property="org.slizaa.rcp.workbench.core.isServiceRegistered"
	         			      value="org.slizaa.scanner.core.api.importer.IModelImporterFactory"/>
 			      	</and>
	        	</not> 				
            </visibleWhen>
         </command>
     	</menuContribution>
   </extension>

   <!--  -->
   <extension point="org.eclipse.ui.startup">
     <startup class="org.slizaa.rcp.workbench.discovery.ui.InstallSlizaaExtensionsStartupClass"/>
   </extension>
</plugin>
