<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <e4view
            class="org.slizaa.hierarchicalgraph.core.ui.dependencytree.internal.DependencyTreePart"
            icon="icons/dependency-tree-small.png"
            id="org.slizaa.ui.dependencytree.DependencyTreePart"
            name="Dependency Tree"
            restorable="true">
      </e4view>
   </extension>

</plugin>
