<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
      <extension point="org.eclipse.ui.perspectives">
            <perspective class="org.slizaa.jqassistant.VisualizeDependenciesPerspectiveFactory" id="org.slizaa.jqassistant.VisualizeDependenciesPerspective" name="Dependency Visualization" icon="icons/perspectives/perspective_visdep.gif"></perspective>
            <perspective class="org.slizaa.jqassistant.CrossReferencerPerspectiveFactory" id="org.slizaa.jqassistant.CrossReferencerPerspective" name="Cross Referencer" icon="icons/perspectives/perspective_xref.png"></perspective>
      </extension>
      
      <!-- New slizaa project -->
      <extension id="org.slizaa.tool.newWizards" name="slizaa Wizards" point="org.eclipse.ui.newWizards">
            <wizard id="org.slizaa.tool.newCypherWizard" canFinishEarly="false" category="org.slizaa.ui.wizards.category" class="org.slizaa.jqassistant.internal.wizards.NewCypherFileWizard" hasPages="true" name="slizaa Cypher File..." icon="icons/wizards/newOpenCypherFile.png" project="false">
                  <description>Create a new database definition file</description>
            </wizard>
      </extension>
      
      <extension point="org.eclipse.ui.navigator.navigatorContent">
        <commonWizard type="new" wizardId="org.slizaa.ui.shared.newprojectwizard" menuGroupId="group.new">
        	<enablement/>
        </commonWizard>
        <commonWizard type="new" wizardId="org.slizaa.tool.newCypherWizard" menuGroupId="group.new">
			<enablement/>
        </commonWizard>        
      </extension>
      
      <extension id="slizaa" name="Slizaa" point="org.eclipse.core.runtime.products">
            <product application="org.eclipse.ui.ide.workbench" description="Slizaa" name="slizaa">
                  <property name="appName" value="slizaa"></property>
                  <property
                        name="aboutText"
                        value="slizaa architecture workbench&#x0A;&#x0A;(c) Copyright Gerd Wütherich. 2015-2018. All rights reserved.&#x0A;&#x0A;Visit http://www.slizaa.org&#x0A;&#x0A;This offering is powered by Eclipse technology &#x0A;and includes Eclipse plug-ins that can be &#x0A;installed and used with other Eclipse-based &#x0A;offerings."></property>
                  <property name="windowImages" value="icons/slizaa_16.png,icons/slizaa_32.png,icons/slizaa_48.png,icons/slizaa_64.png,icons/slizaa_128.png,icons/slizaa_256.png"></property>
                  <property name="startupProgressRect" value="0,180,463,16"></property>
                  <!-- disable this property to enable the IThemeEngine (needed for the jeeeyul ui) -->
                  <property name="applicationCSS" value="platform:/plugin/org.slizaa.rcp.workbench/css/default.css"></property>
                  <property name="startupForegroundColor" value="000000"></property>
                  <property name="startupMessageRect" value="7,151,464,29"></property>
                  <property
                        name="preferenceCustomization"
                        value="plugin_customization.ini">
                  </property>
            </product>
      </extension>
      
      <!-- http://help.eclipse.org/neon/index.jsp?topic=%2Forg.eclipse.platform.doc.isv%2Fguide%2Fworkbench_advext_activities.htm  -->
      <extension point="org.eclipse.ui.activities">
            <!-- -->
            <activity id="menuHidingActivity" name="MenuHidingActivity">
                  <enabledWhen>
                        <with variable="activePartId">
                              <equals value="nonExistentPartId"/>
                        </with>
                  </enabledWhen>
            </activity>
            <!-- -->
            <activityPatternBinding activityId="menuHidingActivity" pattern="org.eclipse.debug.ui/.*"></activityPatternBinding>
            <activityPatternBinding activityId="menuHidingActivity" pattern="org.eclipse.team.ui/.*"></activityPatternBinding>
            <activityPatternBinding activityId="menuHidingActivity" pattern="org.eclipse.ui.externaltools/.*"></activityPatternBinding>
      </extension>
      
      <extension point="org.eclipse.ui.perspectiveExtensions">
            <perspectiveExtension targetID="*">
                  <hiddenMenuItem id="org.eclipse.ui.run"></hiddenMenuItem>
                  <hiddenMenuItem id="project"></hiddenMenuItem>
            </perspectiveExtension>
      </extension>
      
      <extension point="org.eclipse.ui.startup">
            <startup class="org.slizaa.jqassistant.internal.Startup"></startup>
      </extension>
</plugin>
