<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <!-- -->
   <extension
         id="org.slizaa.rcp.workbench.core.slizaanature"
         point="org.eclipse.core.resources.natures"
         name="Slizaa Nature">
      <runtime>
         <run
               class="org.slizaa.rcp.workbench.core.internal.SlizaaProjectNature">
         </run>
      </runtime>
      <builder id="org.slizaa.rcp.workbench.core.slizaaProjectConfigurationBuilder"/>
   </extension>
   
   <!-- -->   
   <extension id="slizaaProjectConfigurationBuilder" 
      point="org.eclipse.core.resources.builders">
      <builder hasNature="true">
         <run class="org.slizaa.rcp.workbench.core.internal.SlizaaIncrementalProjectBuilderFactory"/>
      </builder>
   </extension>

   <!-- -->   
    <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.slizaa.rcp.workbench.core.internal.classpathcontainer.SlizaaApiSpiClasspathContainerInitializer"
            id="org.slizaa.rcp.workbench.core.SLIZAA_SPI_CONTAINER">
      </classpathContainerInitializer>
   </extension>
   
   <!-- -->
   <extension point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
         id="org.slizaa.rcp.workbench.core.OSGiServiceTester"
         namespace="org.slizaa.rcp.workbench.core"
         type="java.lang.Object"
         properties="isServiceRegistered"
         class="org.slizaa.rcp.workbench.core.utils.OSGiServicePropertyTester">
      </propertyTester>
   </extension>
   

   
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated workbenchmodel -->
      <package
            uri="http://slizaa.org/rcp/workbench/core/model"
            class="org.slizaa.rcp.workbench.core.model.ModelPackage"
            genModel="model/workbenchmodel.genmodel"/>
   </extension>

</plugin>
