<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

      <!-- the product definition --> 
      <extension 
            id="slizaa" 
            name="Slizaa" 
            point="org.eclipse.core.runtime.products">
            <product application="org.eclipse.ui.ide.workbench" description="Slizaa" name="Slizaa Software Architecture Workbench">
                  <property name="appName" value="Slizaa"></property>
                  <property
                        name="aboutText"
                        value="Slizaa Software Architecture Workbench&#x0A;&#x0A;(c) Copyright Gerd Wütherich. 2015-2018. All rights reserved.&#x0A;&#x0A;Visit http://www.slizaa.org&#x0A;&#x0A;This offering is powered by Eclipse technology &#x0A;and includes Eclipse plug-ins that can be &#x0A;installed and used with other Eclipse-based &#x0A;offerings."></property>
                  <property name="windowImages" value="icons/slizaa_16.png,icons/slizaa_32.png,icons/slizaa_48.png,icons/slizaa_64.png,icons/slizaa_128.png,icons/slizaa_256.png"></property>
                  <property name="startupProgressRect" value="0,180,463,16"></property>
                  <!-- disable this property to enable the IThemeEngine (needed for the jeeeyul ui) -->
                  <property name="applicationCSS" value="platform:/plugin/org.slizaa.rcp.workbench.ui/css/default.css"></property>
                  <property name="startupForegroundColor" value="000000"></property>
                  <property name="startupMessageRect" value="7,151,464,29"></property>
                  <property
                        name="preferenceCustomization"
                        value="plugin_customization.ini">
                  </property>
            </product>
      </extension>

	  <!-- the perspectives -->
      <extension point="org.eclipse.ui.perspectives">
            <perspective class="org.slizaa.rcp.workbench.ui.internal.perspectives.VisualizeDependenciesPerspectiveFactory" id="org.slizaa.rcp.workbench.ui.VisualizeDependenciesPerspective" name="Dependency Visualization" icon="icons/perspectives/perspective_visdep.gif"></perspective>
            <perspective class="org.slizaa.rcp.workbench.ui.internal.perspectives.CrossReferencerPerspectiveFactory" id="org.slizaa.rcp.workbench.ui.CrossReferencerPerspective" name="Cross Referencer" icon="icons/perspectives/perspective_xref.png"></perspective>
      </extension>
      
      <!-- wizards -->
      <extension name="slizaa Wizards" point="org.eclipse.ui.newWizards">
            <category id="org.slizaa.rcp.workbench.ui.wizards.category" name="Slizaa"> </category>
			<wizard
            		id="org.slizaa.rcp.workbench.ui.newSlizaaProjectWizard"
            		canFinishEarly="false"
            		category="org.slizaa.rcp.workbench.ui.wizards.category"
            		class="org.slizaa.rcp.workbench.ui.internal.wizards.NewSlizaaProjectWizard"
            		icon="icons/wizards/newSlizaaProject.png"
            		hasPages="true"
            		name="slizaa Project"
            		project="true">
				  <description>Create a Slizaa project </description>
            </wizard>
            <wizard id="org.slizaa.rcp.workbench.ui.newCypherWizard" 
            		canFinishEarly="false" 
            		category="org.slizaa.rcp.workbench.ui.wizards.category" 
            		class="org.slizaa.rcp.workbench.ui.internal.wizards.NewCypherFileWizard" 
            		icon="icons/wizards/newOpenCypherFile.png" 
            		hasPages="true" 
            		name="Cypher File" 
            		project="false">
                  <description>Create a new database definition file</description>
            </wizard>
      </extension>
      
      <!-- navigator content -->
      <extension point="org.eclipse.ui.navigator.navigatorContent">
        <commonWizard type="new" wizardId="org.slizaa.rcp.workbench.ui.newSlizaaProjectWizard" menuGroupId="group.new">
			<enablement/>
        </commonWizard>        
        <commonWizard type="new" wizardId="org.slizaa.rcp.workbench.ui.newCypherWizard" menuGroupId="group.new">
        	<enablement/>
        </commonWizard>
      </extension>
           
      <extension point="org.eclipse.ui.startup">
            <startup class="org.slizaa.rcp.workbench.ui.internal.perspectives.Startup"></startup>
      </extension>


	<!-- The Slizaa project content type ('slizaa.json') -->
	<extension id="org.slizaa.core.eclipse.ui.contentTypes" name="Slizaa Contenttypes"
		point="org.eclipse.core.contenttype.contentTypes">
		<content-type file-names="slizaa.json"
			id="org.slizaa.core.eclipse.ui.contenttypes.projectdescription"
			name="Slizaa project description" priority="normal" > </content-type>
	</extension>
	
	<!-- -->
	<extension
       point="org.eclipse.ui.ide.projectNatureImages">
    	<image
          icon="icons/decorator/slizaa_project_decorator.png"
          id="org.slizaa.core.eclipse.slizaanature.image"
          natureId="org.slizaa.rcp.workbench.core.slizaanature">
    	</image>
 	</extension>
 
	<!--  -->
 	<extension point="org.eclipse.ui.views">
		<category id="org.slizaa.core.eclipse.ui.views"
			name="Slizaa"> </category>
	</extension>
	
 	<!-- additional menus in the project navigator -->
	<extension id="org.slizaa.core.eclipse.ui.menus" point="org.eclipse.ui.menus">
 		<menuContribution
                  allPopups="false"
                  locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
               <toolbar
                     id="org.slizaa.core.eclipse.ui.toolbar"
                     label="Slizaa Tools">
                  <separator
                        name="org.slizaa.core.eclipse.ui.toolbar.separator"
                        visible="true">
                  </separator>
               </toolbar>
            </menuContribution>
	</extension>
 
 	<extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="org.slizaa.rcp.workbench.ui.internal.decorators.SlizaaProjectDecorator"
            id="org.slizaa.rcp.workbench.ui.SlizaaProjectDecorator"
            label="Slizaa Project Decorator"
            lightweight="true"
            state="true">
         <enablement>
            <objectState name="nature" value="org.slizaa.rcp.workbench.core.slizaanature"/>
         </enablement>
      </decorator>
   </extension>
 
  	<!-- additional pop-up-menus in the project navigator -->
	<extension point="org.eclipse.ui.menus">

		<menuContribution
			locationURI="popup:org.eclipse.ui.popup.any?after=additions">
	
			<!-- separator for project-related actions (open, close, ...) -->
			<separator name="org.bundlemaker.core.ui.project.separator" visible="true"> </separator>
			
			<command
         		commandId="org.slizaa.core.ui.commands.ParseSlizaaProjectCommand"
         		icon="icons/etools/bm-parse.png"
         		style="push">
         		<visibleWhen checkEnabled="false">
					<reference definitionId="slizaaProjectSelected"></reference>
				</visibleWhen>         		
			</command>
			
			<command
         		commandId="org.slizaa.core.ui.commands.StartAndConnectDatabaseCommand"
         		icon="icons/etools/bm-parse.png"
         		style="push">
         		<visibleWhen checkEnabled="false">
					<reference definitionId="slizaaProjectSelected" />
				</visibleWhen>         		
			</command>
			
			<command
         		commandId="org.slizaa.core.ui.commands.CreateHierarchicalGraphCommand"
         		icon="icons/etools/bm-parse.png"
         		style="push">
         		<visibleWhen checkEnabled="false">
					<reference definitionId="slizaaProjectSelected" />
				</visibleWhen>         		
			</command>
						
		</menuContribution>
	</extension>
 
 	<extension point="org.eclipse.ui.handlers">
		<handler class="org.slizaa.rcp.workbench.ui.internal.handler.ParseSlizaaProjectHandler"
			commandId="org.slizaa.core.ui.commands.ParseSlizaaProjectCommand">
			<activeWhen>
				<reference definitionId="slizaaProjectSelected"></reference>
			</activeWhen>
			<enabledWhen>
				<reference definitionId="slizaaProjectSelected"></reference>
			</enabledWhen>
		</handler>
		<handler class="org.slizaa.rcp.workbench.ui.internal.handler.StartAndConnectDatabaseHandler"
			commandId="org.slizaa.core.ui.commands.StartAndConnectDatabaseCommand">
			<activeWhen>
				<reference definitionId="slizaaProjectSelectedAndDatabaseDirectoryPopulated"></reference>
			</activeWhen>
			<enabledWhen>
				<reference definitionId="slizaaProjectSelectedAndDatabaseDirectoryPopulated"></reference>
			</enabledWhen>
		</handler>
		<handler class="org.slizaa.rcp.workbench.ui.internal.handler.CreateHierarchicalGraphHandler"
			commandId="org.slizaa.core.ui.commands.CreateHierarchicalGraphCommand">
			<activeWhen>
				<reference definitionId="slizaaProjectSelectedAndDatabaseClientConnected"></reference>
			</activeWhen>
			<enabledWhen>
				<reference definitionId="slizaaProjectSelectedAndDatabaseClientConnected"></reference>
			</enabledWhen>
		</handler>
 	</extension>
 	
 	<extension point="org.eclipse.ui.commands">
		<command id="org.slizaa.core.ui.commands.ParseSlizaaProjectCommand" name="Parse" />
		<command id="org.slizaa.core.ui.commands.StartAndConnectDatabaseCommand" name="Start/Connect Database" />
		<command id="org.slizaa.core.ui.commands.CreateHierarchicalGraphCommand" name="Create Model" />
 	</extension>
 	
 	<!-- the expression definitions -->
	<extension point="org.eclipse.core.expressions.definitions">
	
		<definition id="noGraphDbServiceRegistered">
			<with variable="selection">
				<not>
					<and>
						<test
							forcePluginActivation="true"
         					property="org.slizaa.rcp.workbench.core.isServiceRegistered"
         					value="org.slizaa.scanner.core.api.importer.IModelImporterFactory"/>
						<test
							forcePluginActivation="true"
	         				property="org.slizaa.rcp.workbench.core.isServiceRegistered"
	         				value="org.slizaa.scanner.core.api.graphdb.IGraphDbFactory"/>
     				</and>
  				</not>
			</with>
		</definition>	

		<definition id="slizaaProjectSelected">
			<with variable="selection">
				<count value="1" />
				<iterate ifEmpty="false" operator="and">
						<adapt type="org.eclipse.core.resources.IResource">
							<and>
								<test property="org.eclipse.core.resources.projectNature"
									  value="org.slizaa.rcp.workbench.core.slizaanature"/>
							 	<instanceof value="org.eclipse.core.resources.IProject" />
								<test
									forcePluginActivation="true"
			     					property="org.slizaa.rcp.workbench.core.isServiceRegistered"
			     					value="org.slizaa.scanner.core.api.graphdb.IGraphDbFactory"/>
								<test
									forcePluginActivation="true"
			         				property="org.slizaa.rcp.workbench.core.isServiceRegistered"
			         				value="org.slizaa.scanner.core.api.importer.IModelImporterFactory"/>							 	      
							</and> 	
						</adapt>
				</iterate>
			</with>
		</definition>
		
		<definition id="slizaaProjectSelectedAndDatabaseDirectoryPopulated">
			<with variable="selection">
				<count value="1" />
				<iterate ifEmpty="false" operator="and">
						<adapt type="org.eclipse.core.resources.IProject">
							<and>
								<reference definitionId="slizaaProjectSelected" />
								<test property="org.slizaa.rcp.workbench.core.isDatabaseDirectoryPopulated" />
							</and> 	
						</adapt>
				</iterate>
			</with>
		</definition>	
		
		<definition id="slizaaProjectSelectedAndDatabaseClientConnected">
			<with variable="selection">
				<count value="1" />
				<iterate ifEmpty="false" operator="and">
						<adapt type="org.eclipse.core.resources.IProject">
							<and>
								<reference definitionId="slizaaProjectSelected" />
								<test property="org.slizaa.rcp.workbench.core.isDatabaseClientConnected" />
							</and> 	
						</adapt>
				</iterate>
			</with>
		</definition>	
				              
	</extension>

</plugin>
